@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Poppins:wght@200;600&display=swap');
.main_resposta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000926;
  padding: 30px 40px;
  gap: 30px;
}

.boxPersonalizado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  padding-top: 30px;
  gap: 30px;
}
.quadradinho{
  background-color: #E90101;
  padding: 10px;
  border-radius: 20px;
 
}
.bol {
  width: 100px;
  height: 100px;
  background: #E90101;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.tittle1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */
  text-align: center;
  color: #fff;
}

.pontuacao {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 87px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.banner {
  background: #E90101;
  border-radius: 20px;
  width: 338px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 51px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.titulo_vermelho {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  color: #E90101;
}

.page {
  width: 894px;
  min-height: 1093px;
  padding-top: 200px;
  background-image: url("/assets/pergunta-quiz.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_back {
  all: unset;
  width: 178px;
  height: 44px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  background: #E90101;
  border-radius: 39px;
}

.pergunta {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pergunta_div {
  max-width: 550px;
}

.resposta_div_squad {
  text-align: center;
  padding: 15px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 79px;
  width: 556px;
  min-height: 60px;
}

.respostas_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.parabens {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #E90101;
}

.analise {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #fff;
}

.titulo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 87px;
  text-align: center;
  color: #FFFFFF;
}

.paragrafo {
  max-width: 630px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.btn {
  background: #B51515;
  border-radius: 5px;
  width: 498px;
  height: 61px;
}

/* Responsividade */

@media (max-width: 1024px) {
  .page {
    width: 80%;
  }

  .button_back {
    width: 150px;
    height: 40px;
  }

  .pergunta {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .pergunta_div {
    max-width: 450px;
  }

  .resposta_div_squad {
    width: 450px;
  }

  .respostas_div {
    gap: 20px;
  }

  .parabens,
  .analise {
    font-size: 24px;
    line-height: 30px;
  }

  .titulo {
    font-size: 48px;
    line-height: 70px;
  }

  .paragrafo {
    max-width: 550px;
    font-size: 20px;
    line-height: 30px;
  }

  .btn {
    width: 400px;
    
  }
}

@media (max-width: 768px) {
  .page {
    width: 90%;
    padding-top: 150px;
  }

  .button_back {
    width: 120px;
    height: 36px;
    margin-bottom: 15px;
  }

  .pergunta {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .pergunta_div {
    max-width: 400px;
  }

  .resposta_div_squad {
    width: 400px;
  }

  .respostas_div {
    gap: 15px;
  }

  .parabens,
  .analise {
    font-size: 20px;
    line-height: 26px;
  }

  .titulo {
    font-size: 42px;
    line-height: 64px;
  }

  .paragrafo {
    max-width: 500px;
    font-size: 18px;
    line-height: 26px;
  }

  .btn {
    width: 300px;
    
  }
}

@media (max-width: 480px) {
  .main_resposta {
    padding: 20px;
  }

  .boxPersonalizado {
    width: 100%;
  }

  .bol {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }

  .tittle1 {
    font-size: 24px;
    line-height: 36px;
  }

  .pontuacao {
    font-size: 48px;
    line-height: 64px;
  }

  .banner {
    width: 250px;
    height: 50px;
    font-size: 18px;
    line-height: 30px;
  }

  .titulo_vermelho {
    font-size: 20px;
    line-height: 30px;
  }

  .page {
    padding-top: 120px;
  }

  .button_back {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
  }

  .pergunta {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .pergunta_div {
    max-width: 300px;
  }

  .resposta_div_squad {
    width: 300px;
    min-height: 40px;
  }

  .respostas_div {
    gap: 10px;
  }

  .parabens,
  .analise {
    font-size: 18px;
    line-height: 24px;
  }

  .titulo {
    font-size: 36px;
    line-height: 56px;
  }

  .paragrafo {
    max-width: 400px;
    font-size: 16px;
    line-height: 24px;
  }

  .btn {
    width: 250px;
    
  }
}
