@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Poppins:wght@200;600&display=swap');

.main_question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/bg-quiz2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page {


  background-image: url("/assets/OlderPaper.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 120px;
  height: 60%;
  width: 100vh;

}

.caixaPosicao {
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 250px;
  width: 73px;
  height: 30px;
  text-align: center;
}

.organization {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 600px;

}

.describePontuation {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #000000;

}

.button_back {
  all: unset;
  width: 178px;
  height: 44px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  background: #E90101;
  border-radius: 39px;
  margin-top: 50px;

}

.pergunta {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;

}

.pergunta_div {
  max-width: 550px;
}

.resposta_div_squad {
  text-align: center;
  padding: 15px;
  background: #00124D;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 61px;
  min-height: 60px;
}

.respostas_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  min-width: 200px;
  max-width: 500px;
  max-height: 600px;

}

/* Responsividade */
@media (prefers-color-scheme: light) {
  .resposta_div_squad {
    
    color: white;
  }
}
@media (max-width: 1024px) {
  .page {
    height: 65vh;

  }

  .organization {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .page {
    width: 90%;

  }

  .pergunta {
    font-size: 5vw;
    line-height: 6vw;
  }

  .pergunta_div {
    max-width: 90%;
    margin-bottom: 80px;
  }

  .resposta_div_squad {
    padding: 10px;

    width: 80%;
    min-height: 10vw;
  }

  .respostas_div {
    gap: 8vw;
  }
}

@media (max-width: 480px) {
  .page {
    background-image: url("/assets/OldMobile.png");
    padding-top: 100px;
    height: 70vh;
  }

  .pergunta {
    font-size: 4vw;
    line-height: 5vw;
    font-size: 24px;
  }

  .resposta_div_squad {
    padding: 5px;
    width: 40px;
    height: 40px;
  }

  .respostas_div {
    gap: 10vw;
  }
  @media (max-width: 414px) {
    .describePontuation{
      font-size: 14px;
    }
    .organization {
      gap: 0px;
      padding-top: 5px;
    }
    .page {
      background-image: url("/assets/PAPIRO.png");
      background-size: contain;
      
      height: 50vh;
    }
    .pergunta_div{
      margin-bottom: 10px;
      max-width: 70%;
      max-height: 30%;
    }
    .pergunta {
      
      line-height: 5vw;
      font-size: 14px;
    }
  
    .resposta_div_squad {
      padding: 5px;
      width: 40px;
      height: 20px;
    }
  
    .respostas_div {
      
    }
  }

}

